@model Piranha.Extend.Blocks.VideoBlock

<div class="block">
    <video class="mw-100" controls>
        <source src="@Url.Content(Model.Body)">
        <track label="English" kind="captions" srclang="en" src="resources/myvideo-en.vtt" default>
    </video>
</div>